<mat-toolbar color="primary" class="navBar">
  <span style="font-size: 22px; font-weight: bold;"
    >English Online Testing</span
  >
  <nav class="navButtons">
    <button
      class="navButton"
      mat-button
      style="margin-left: 15px;"
      (click)="goToHome()"
    >
      <i class="fas fa-home"></i>
      <span>Trang chủ</span>
    </button>
    <button class="navButton" mat-button (click)="goToTestPage()">
      <i class="fas fa-file-alt"></i>
      <span>Bài thi</span>
    </button>
    <button class="navButton" *ngIf="isAdmin" mat-button (click)="goToAdmin()">
      <i class="fas fa-user-shield"></i>
      <span>Admin</span>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="rightMenuButton">
      <i class="fas fa-user-circle" style="font-size: 20px;"></i>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="isLoggedIn" mat-menu-item (click)="goToProfile()">
        <i class="far fa-address-card"></i>
        <span>Tài khoản</span>
      </button>
      <button *ngIf="isLoggedIn" mat-menu-item (click)="goToHistory()">
        <i class="fas fa-history"></i>
        <span>Lịch sử thi</span>
      </button>
      <button *ngIf="!isLoggedIn" mat-menu-item (click)="goToLogIn()">
        <i class="fas fa-sign-in-alt"></i>
        <span>Đăng nhập</span>
      </button>
      <button *ngIf="isLoggedIn" mat-menu-item (click)="logOut()">
        <i class="fas fa-sign-out-alt"></i>
        <span>Đăng xuất</span>
      </button>
      <button *ngIf="!isLoggedIn" mat-menu-item (click)="goToSignUp()">
        <i class="fas fa-user-plus"></i>
        <span>Đăng kí</span>
      </button>
    </mat-menu>
  </nav>
</mat-toolbar>
