<mat-card class="testPageContainer">
  <h3>Sample test</h3>
  <app-multiple-choice></app-multiple-choice>
  <mat-divider></mat-divider>
  <app-multiple-choice></app-multiple-choice>
  <mat-divider></mat-divider>
  <app-multiple-choice></app-multiple-choice>
  <mat-divider></mat-divider>
  <app-multiple-choice></app-multiple-choice>
  <mat-divider></mat-divider>
  <app-multiple-choice></app-multiple-choice>
  <mat-divider></mat-divider>
  <app-multiple-choice></app-multiple-choice>
  <mat-divider></mat-divider>
  <app-multiple-choice></app-multiple-choice>
  <mat-divider></mat-divider>
  <app-multiple-choice></app-multiple-choice>
  <mat-divider></mat-divider>
  <app-multiple-choice></app-multiple-choice>
  <mat-divider></mat-divider>
  <app-multiple-choice></app-multiple-choice>
  <mat-divider></mat-divider>
  <app-multiple-choice></app-multiple-choice>
  <mat-divider></mat-divider>
  <app-multiple-choice></app-multiple-choice>
  <mat-divider></mat-divider>
  <app-multiple-choice></app-multiple-choice>
  <mat-divider></mat-divider>
</mat-card>