<div class="container-fluid min-vh-100">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <h3>Sample test</h3>
      <app-multiple-choice></app-multiple-choice>
      <hr />
      <app-multiple-choice></app-multiple-choice>
      <hr />
      <app-multiple-choice></app-multiple-choice>
      <hr />
      <app-multiple-choice></app-multiple-choice>
      <hr />
      <app-multiple-choice></app-multiple-choice>
      <hr />
      <app-multiple-choice></app-multiple-choice>
      <hr />
      <app-multiple-choice></app-multiple-choice>
      <hr />
      <app-multiple-choice></app-multiple-choice>
      <hr />
      <app-multiple-choice></app-multiple-choice>
      <hr />
      <app-multiple-choice></app-multiple-choice>
      <hr />
      <app-multiple-choice></app-multiple-choice>
      <hr />
      <app-multiple-choice></app-multiple-choice>
      <hr />
      <app-multiple-choice></app-multiple-choice>
      <hr />
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>
