<div class="container-fluid">
  <div class="row">
    <div class="d-inline normal-text question-number">
      {{ questionNumber }}.
    </div>
    <div class="d-inline normal-text">
      {{ content }}
    </div>
  </div>
  <div class="row">
    <div class="ml-5">
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="sample" />A)
          {{ choiceA }}
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="sample" />B)
          {{ choiceB }}
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="sample" />C)
          {{ choiceC }}
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="sample" />D)
          {{ choiceD }}
        </label>
      </div>
    </div>
  </div>
</div>
