<div class="container-fluid">
  <div class="row">
    <div class="d-inline" style="width: 50px;">
      1.
    </div>
    <div class="d-inline">
      Would you like _______ to Ian's house?
    </div>
  </div>
  <div class="row">
    <div class="ml-5">
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="sample" />A) to go
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="sample" />B) going
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="sample" />C) go
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="sample" />D) went
        </label>
      </div>
    </div>
  </div>
</div>
