p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

img {
  height: 16px;
  width: 16px;
}

.container {
  padding: 0;
}

.imageContainer {
  float: left;
  margin-right: 5px;
  vertical-align: middle;
  align-content: left;
}
