.errorIcon {
  display: inline-block;
  vertical-align: middle;
  font-size: 25px;
  color: red;
}

.errorText {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
}

.errorContainer {
  padding: 0;
}
