<div class="container-fluid min-vh-100">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 shadow-sm p-3 mb-5 bg-white rounded">
      <form
        class="form-group p-3"
        [formGroup]="logInForm"
        (ngSubmit)="logIn()"
      >
        <h3 class="text-center">Đăng nhập</h3>
        <div class="mb-3">
          <label>Tên đăng nhập</label>
          <input
            id="usernameInput"
            formControlName="username"
            type="text"
            class="form-control"
            placeholder="Vd: Beast_Master69"
            tabindex="1"
          />
          <app-error-field
            *ngIf="username.invalid && username.touched"
            [errorMessage]="'Hãy nhập vào Tên đăng nhập'"
          ></app-error-field>
        </div>
        <div class="mb-3">
          <label>Mật khẩu</label>
          <div class="input-group">
            <input
              id="passwordBox"
              formControlName="password"
              type="password"
              class="form-control"
              placeholder="Vd: !Pass_quen_ROI.1234"
              tabindex="2"
            />
            <div class="input-group-append">
              <button
                class="btn btn-light"
                type="button"
                (click)="setPasswordVisibility()"
              >
                <i *ngIf="passwordState" class="fas fa-eye"></i>
                <i *ngIf="!passwordState" class="fas fa-eye-slash"></i>
              </button>
            </div>
          </div>
          <app-error-field
            *ngIf="password.invalid && password.touched"
            [errorMessage]="'Hãy nhập vào Mật khẩu'"
          ></app-error-field>
        </div>
        <div class="mb-3">
          <button
            *ngIf="!waitingForResponse"
            type="submit"
            class="btn btn-primary btn-block"
            [disabled]="logInForm.invalid"
            tabindex="3"
          >
            Đăng Nhập
          </button>
          <button
            *ngIf="waitingForResponse"
            class="btn btn-primary btn-block"
            disabled
          >
            <span class="spinner-border spinner-border-sm"></span>
            Kiểm tra tài khoản đăng nhập...
          </button>
        </div>
        <app-error-field
          class="mb-3 text-center"
          *ngIf="hasError"
          [errorMessage]="errorMessage"
        ></app-error-field>
        <div class="text-center">
          Bạn chưa có tài khoản?
          <a [routerLink]="['/sign-up']" tabindex="4">Đăng kí</a>
        </div>
      </form>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
