<div class="container">
  <form class="formContainer" [formGroup]="logInForm" (ngSubmit)="onSubmit()">
    <h3 style="text-align: center">Đăng nhập</h3>
    <div class="inputField">
      <label>Tài khoản:</label>
      <input
        formControlName="username"
        type="text"
        class="form-control"
        placeholder="Vd: Beast_Master69"
      />
      <app-error-field
        *ngIf="form.get('username').invalid && form.get('username').touched"
        [errorMessage]="'Bạn phải nhập tài khoản của bạn vào đây'"
      ></app-error-field>
    </div>
    <div class="inputField">
      <label>Mật khẩu:</label>
      <input
        formControlName="password"
        type="password"
        class="form-control"
        placeholder="Vd: !Pass_quen_ROI.1234"
      />
      <app-error-field
        *ngIf="form.get('password').invalid && form.get('password').touched"
        [errorMessage]="'Bạn phải nhập mật khẩu của bạn vào đây'"
      ></app-error-field>
    </div>
    <div class="inputField form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" value="" />Ghi nhớ tôi
      </label>
    </div>
    <div class="inputField">
      <button
        *ngIf="!waitingForResponse"
        type="submit"
        class="btn btn-primary btn-block"
        [disabled]="logInForm.invalid"
      >
        Đăng Nhập
      </button>
      <button
        *ngIf="waitingForResponse"
        class="btn btn-primary btn-block"
        disabled
      >
        <span class="spinner-border spinner-border-sm"></span>
        Kiểm tra thông tin...
      </button>
    </div>
    <app-error-field
      class="inputField"
      *ngIf="error"
      style="text-align: center;"
      [errorMessage]="errorMessage"
    ></app-error-field>
    <div class="inputField" style="text-align: center;">
      Bạn chưa có tài khoản? <a [routerLink]="['/signUp']">Đăng kí</a>
    </div>
  </form>
</div>
