<div class="container-fluid mb-5 min-vh-100">
  <div *ngIf="!isLoading" class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <h3 class="mb-4 text-center">{{ exam.title }}</h3>
      <div *ngFor="let section of exam.sections">
        <ins>
          <h5 class="mb-3">
            {{ section.title }}
          </h5>
        </ins>
        <div *ngFor="let question of section.questions">
          <app-multiple-choice
            *ngIf="question.questionType == 0"
            [question]="question"
            (answer)="assignAnswer($event)"
            [showAnswer]="showAnswer"
          >
          </app-multiple-choice>
          <app-plain-paragraph
            *ngIf="question.questionType == 1"
            [content]="question.content"
          >
          </app-plain-paragraph>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <span *ngIf="showAnswer" class="text-success" style="font-size: 20px;">
            Bạn đã trả lời đúng {{correctAnswers}}/{{totalQuestions}} câu
          </span>
        </div>
        <div class="col-4 text-right">
          <button
            class="btn btn-primary"
            (click)="checkAnswer()"
            [disabled]="showAnswer"
          >
            Xem kết quả
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>
